@font-face
  font-family: 'Icons'
  src: url("/assets/fonts/semantic-ui/icons.eot")
  src: url("/assets/fonts/semantic-ui/icons.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/semantic-ui/icons.woff2") format('woff2'), url("/assets/fonts/semantic-ui/icons.woff") format('woff'), url("/assets/fonts/semantic-ui/icons.ttf") format('truetype'), url("/assets/fonts/semantic-ui/icons.svg#icons") format('svg')
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-decoration: inherit
  text-transform: none


body
  background-color: #f0f0f0
